.app {
    width:100vw;
    height:100vh;
}
.outline {
    border:1px solid black;
}
/* page item is for nav bar links styling */
.page-item {
    border-radius:8px;
    border-top:1px solid ghostwhite;
    border-right:1px solid ghostwhite;
}

.page-item:hover {
    box-shadow:3px 3px 3px 0px #FFFFFF;
    transition-duration: 500ms ;
    border-left:1px solid ghostwhite;
    transition-property: box-shadow, transform,border-left ;
    transition-timing-function: ease-in-out ;
}
.page-item:not(:hover) {
    box-shadow: 0px 0px 0px 0px #FFFFFF;
    transition-duration:375ms;
    border-left:1px solid black;
    transition-property:box-shadow,transform, border-left;
    transition-timing-function:ease-in;
}
.local {
    width:100vw;
    height:100vh;
}
.no-decor {
    text-decoration:none;
}